/* ___ *** SELECTS *** ___ */
#cationA + .select2 {
    width: 100% !important; /* !important para forzar el estilo */
}

.select2-container .select2-selection--single {
    height: 45px !important; /* Ajusta el tamaño del recuadro */
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
}


#anion + .select2 {
    width: 100% !important; /* !important para forzar el estilo */
}

#cationB + .select2 {
    width: 100% !important; /* !important para forzar el estilo */
}


/* Centrar la flecha dentro del select */
.select2-container .select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
    right: 10px !important; /* Ajustar posición */
}
.select2-container .select2-selection__clear {
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    right: 35px !important; /* Espacio entre la "X" y la flecha */
    width: 20px !important; /* Tamaño fijo */
    height: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: white !important; /* Asegura que no afecte el padding */
}


/* ================= ESTADO DESHABILITADO (unificado con inputs) ================= */
input:disabled {
  background-color: #8c8c8c76; /* mismo tono que selects */
  color: #5f5f5f;
  cursor: not-allowed;
}

.select2-container--default.select2-container--disabled
.select2-selection--single {
  background-color: #8c8c8c76 !important; /* gris claro */
  color: #5f5f5f !important;
  cursor: not-allowed !important;
}

.select2-container--default.select2-container--disabled
.select2-selection--multiple {
  background-color: #8c8c8c76 !important;
  color: #5f5f5f !important;
  cursor: not-allowed !important;
}
