/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #34495E; /* Color de fondo */
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 40px;
}


/* HEADER */
header {
    background: #211a1a;
    padding: 18px;
    margin-bottom: 30px;

    color: white;
    text-align: right;
    border-radius: 10px;
}


/* Estilos para el contenedor principal del formulario */
.containerDatosEntrada {
    width: 70%; /* Toma el 70% del ancho disponible */
    padding: 20px;
    background-color: #BDC3C7; /* Fondo blanco */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    box-sizing: border-box;
    float:left;
}
/* Estilos para el título */
h1 {
    text-align: center;
    margin-bottom: 16px;
}

/* Estilo para los campos de entrada (input) y select */
input[type="number"], select {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}

.form-group {
    padding: 10px;
}

.form-group2 {
    padding: 15px;
}

/* Estilo para el botón */
button {
    width: 60%;
    padding: 12px;
    background-color: #3a2959; /* Verde */
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #221639; /* Un verde más oscuro al pasar el ratón */
}

/* Estilo para el resultado */
#resultado {
    /* margin-top: 10px; */
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
    color: #333; /* Color de texto */
}



/* ASIDE */
aside {
    float: right;
    width: 26%;
    margin-left: 2%;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

aside h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}


/* Enlaces del aside */
aside a {
    text-decoration: none;
    color: #007bff; /* Azul moderno */
    font-weight: bold;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
    margin-left: 5px;
}

aside a:hover {
    background-color: #e2e2e2;
}






/* Personaliza la caja de selección */
.select2-container {
    width: 50% !important; /* Asegura que ocupe todo el espacio disponible */
}



.option-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.rb {
    margin-right: 5%;
}

span.nombre {
    margin-left: 1%;
}